NEXT_PUBLIC_API_URL=https://libraryapi.codevertexafrica.com
NEXT_PUBLIC_AUTH_UI_URL=https://accounts.codevertexafrica.com
NEXT_PUBLIC_SSO_URL=https://sso.codevertexafrica.com
NEXT_PUBLIC_SSO_CLIENT_ID=library-ui
NEXT_PUBLIC_AUTH_API_URL=https://sso.codevertexafrica.com
NEXT_PUBLIC_SUBSCRIPTIONS_API_URL=https://pricingapi.codevertexafrica.com
INTERNAL_SERVICE_KEY=<REPLACE_ME>
