NEXT_PUBLIC_API_URL=https://libraryapi.codevertexitsolutions.com
NEXT_PUBLIC_AUTH_UI_URL=https://accounts.codevertexitsolutions.com
NEXT_PUBLIC_SSO_URL=https://sso.codevertexitsolutions.com
NEXT_PUBLIC_SSO_CLIENT_ID=library-ui
NEXT_PUBLIC_AUTH_API_URL=https://sso.codevertexitsolutions.com
NEXT_PUBLIC_SUBSCRIPTIONS_API_URL=https://pricingapi.codevertexitsolutions.com
INTERNAL_SERVICE_KEY=<REPLACE_ME>
